{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body>
    <div id="root">
        <div class="row">
            <div class="col-md-8">
                <img src="{% static '/img/question-login-image.png' %}" alt="image">
            </div>
            <div class="col-md-4">
                <div class="card-body p-4">
                    <form class="p-4" action="">
                        <div class="form-element p-y-4 text-center">
                            <h1 class="m-y-2 text-primary">Log In</h1>
                            <b class="p-y-4">Welcome to Quizzz!</b>
                        </div>
                        <div class="form-element m-y-3">
                            <input class="input-block" type="text" name="username" placeholder="Username...">
                        </div>
                        <div class="form-element m-y-3">
                            <input class="input-block" type="password" name="password" placeholder="Password...">
                        </div>
                        <div class="form-element m-y-3">
                            <button class="btn btn-block">Log in</button>
                        </div>
                        <div class="form-element m-y-4 text-center">
                            <a href="sign-up" class="text-primary">Don't have an account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>